<article class="m-project-card {{ class | default: '' }}">
  <a href="{{ url }}">
    <img
      src="{{ img.src }}"
      width="{{ img.width }}"
      height="{{ img.height }}">

    <h3>{{ title }}</h3>
  </a>
</article>