<section class="m-summary">
  <div class="l-stack">
    <h3>
      <a href="{{ url }}">{{ title }}</a>
    </h3>

    {% if subtitle %}
      <p class="m-summary__subtitle">{{ subtitle }}</p>
    {% endif %}

    {% if img %}
      <img
        src="{{ img.src }}"
        alt="{{ img.alt }}"
        class="u-reorder-first"
        {% if img.focalPoint %}
          style="--focal-point: {{ img.focalPoint }}"
        {% endif %}
      >
    {% endif %}

    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
  </div>
</section>
