---
layout: _default

aboutMe:
  title: Hey There!
  image:
    src: /images/headshot.jpg
    alt: "Evan Minto smiling. He’s a young white man with
medium-short wavy hair and gray plastic glasses."
  biography: 'I’m Evan Minto, a freelance designer, developer, writer,
    animator, game dev, and musician, living in Brooklyn.'

freelanceServices:
  -
    title: Designer & Developer
    titlePrefix: I’m a
    logoListTitle: Clients
    description: 'I design and build beautiful, accessible, and performant web sites, apps, design systems, and video games.'
    images:
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
  -
    title: Pop Culture Writer & Speaker
    titlePrefix: I’m also a
    logoListTitle: Bylines/Appearances
    description: 'I write and speak about the history and craft of
    animation, comics, and video games for a variety of publications, channels, and live events.'
    images:
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org

clientsSectionTitle: Clients
clients:
  -
    href: https://archive.org
    imgSrc: /images/clients/client-logo-internet-archive.png
    imgAlt: Internet Archive
  -
    href: https://us.too.com/
    imgSrc: /images/clients/client-logo-copic.png
    imgAlt: COPIC
  -
    href: https://kodanshacomics.com
    imgSrc: /images/clients/client-logo-kodansha.png
    imgAlt: Kodansha Comics
  -
    href: https://sfai.edu
    imgSrc: /images/clients/client-logo-sfai.png
    imgAlt: San Francisco Art Institute
  -
    href: https://www.tenantstogether.org
    imgSrc: /images/clients/client-tenants-together.png
    imgAlt: Tenants Together
  -
    href: https://blockpunk.net
    imgSrc: /images/clients/client-logo-blockpunk.png
    imgAlt: BlockPunk
  -
    href: https://crunchyroll.com
    imgSrc: /images/clients/client-logo-crunchyroll.png
    imgAlt: Crunchyroll

contactSectionTitle: Now Accepting New Clients
contactLinkText: Drop me a line
widePage: true
---

<section class="a-content-block">
  {% include _about_me, title: aboutMe.title, image: aboutMe.image, biography: aboutMe.biography %}
</section>

<section class="a-content-block">
  <div class="o-freelance-cards">
    <div class="l-switcher">
      {% for service in freelanceServices %}
        {% include _freelance_card, title: service.title, titlePrefix: service.titlePrefix, logoListTitle: service.logoListTitle, description: service.description, images: service.images %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="a-content-block l-switcher__standalone">
  <h2 class="u-text-center">{{ clientsSectionTitle }}</h2>

  <ul class="l-cloud">
    {% for client in clients %}
      <li>
        <a
          class="a-client-logo"
          href="{{ client.href }}"
          style="--src: url('{{ client.imgSrc }}');">
          <span class="a-client-logo__inner">
            <img src="{{ client.imgSrc }}" alt="{{ client.imgAlt }}">
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="a-content-block m-contact-teaser l-switcher__standalone">
  <h2>{{ contactSectionTitle }}</h2>
  <a class="a-call-to-action-link" href="/contact">{{ contactLinkText }}</a>
</section>